
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

#background img {
  width: 1903px;
}

#text-center {
  background-color: transparent;
  text-align: center;
  top: 30px;
  position: absolute;
  color: white;
  font-size: 50px;
  margin-left: 750px;
}

#text {
  text-align: center;
  position: absolute;
  top: 350px;
  color: white;
  font-size: 35px;
  left: 440px;
}

#text h2 {
  
}

#text2 {
  position: absolute;
  color: white;
  text-align: center;
  top: 750px;
  font-size: 35px;
  right: 470px;
}

#text2 h2 {
 
}

.baseboard {
  background-color: rgb(105, 0, 204);
  height: 80px;
  position: absolute;
  top: 1190px;
  width: 1903px;
}
#copyright {
  color: white;
  text-align: center;
  margin-top: 30px;
}

#menu a {
  text-decoration: none;
  color: black;
}

#menu {
  background-color: transparent;
  position: absolute;
  margin-top: 30px;
  right: 200px;
  font-family: 'Open Sans', sans-serif;
  
}

#menu h6{
    display: inline;
    font-size: 20px;
    color: white;
    padding: 10px;

}

#menu a{
    color: white;
}

#menu :hover{
    background-color: rgb(105, 0, 204);
  transition: 1s;
  margin-bottom: 5px;
  border-radius: 30px;

}
