@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Signika+Negative:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: rgb(226, 70, 130);
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

#fundo {
  background-image: url(img/fundo_horizontal.jpg);
  background-repeat: no-repeat;
  height: 760px;
  width: 1903px;
  background: fixed;
}
#text-center {
  position: absolute;
  text-align: center;
  left: 29%;
  top: 120px;
}

#text-center img {
  margin: 25px;
}
#text-center h2 {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

#countdown {
  color: white;
  text-align: center;
  top: 380px;
  position: absolute;
  right: 500px;
  left: 500px;
  font-size: 20px;
  font-family: "Oxygen", sans-serif;
  font-family: "Signika Negative", sans-serif;
  background: fixed;
}

div {
  display: inline-block;
  padding: 20px;
}

#countdown h2 {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(255, 56, 179);
  font-size: 50px;
}

.container2 {
  background-color: rgb(105, 0, 204);
  position: absolute;
  width: 1903px;
  height: 500px;
}

#text {
  text-align: center;
  color: white;
  margin: right 50px;
  margin: left 20px;
  position: absolute;
  right: 500px;
  margin-block-start: 20px;
}

#text h2 {
  margin-bottom: 30px;
}

#text p {
  margin-bottom: 50px;
}

#Realization p {
  color: white;
}

#Realization {
  text-align: center;
  margin-block-start: 300px;
  margin-block-end: 0px;
  margin-left: 815px;
  position: absolute;
}

.container3 {
  background-color: #b21236;
  width: 1903px;
  height: 500px;
  position: absolute;
  margin-top: 500px;
}

#address {
  text-align: center;
  color: white;
  margin-left: 760px;
  margin-top: 50px;
}

.baseboard {
  background-color: rgb(105, 0, 204);
  position: absolute;
  width: 1903px;
  height: 80px;
  margin-top: 1000px;
}

#copyright p {
  color: white;
  margin-left: 880px;
}

#menu {
  margin: 0px;
  padding: 0px;
  margin-left: 1500px;
  margin-top: 30px;
  position: absolute;
  background-color: transparent;
  border: none;
}

#menu h6 {
  display: inline-block;
  padding: 50px;
  color: white;
  right: 500px;
  text-decoration: none;
  padding: 10px;
}

#menu h6 a {
  text-decoration: none;
  color: white;
}

#menu :hover {
  background-color: rgb(105, 0, 204);
  transition: 1s;
  margin-bottom: 5px;
  border-radius: 30px;
}
